---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gdqbot
  namespace: gdqbot
  labels:
    app: gdqbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gdqbot
  template:
    metadata:
      labels:
        app: gdqbot
    spec:
      containers:
      - name: gdqbot
        image: ghcr.io/dilaz/gdqbot:latest
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 10000
          capabilities:
            drop: [ALL]
        resources:
          requests:
            cpu: 100m
            memory: "10Mi"
          limits:
            cpu: 500m
            memory: "50Mi"
        envFrom:
          - configMapRef:
              name: gdqbot-configs
          - secretRef:
              name: gdqbot-secrets
        env:
          - name: OFFLINE_CHECK_COUNT
            value: "3"
